body{
    background-color: black;
}

/* INICIO */

.caja1 {
    height: 100%;
    background-color: #000000;
    justify-content: end;
    align-items: center;
}
.caja1 img{
    width: 100%;
}

.caja2 {
    height: 50px;
    width: 200px;
    left: 0;
    z-index: 0;
}

.blog1 {
    font-weight: bold;
    color: white;
    font-size: 40px;
    font-family: "Arimo", sans-serif;
    position: relative;
    z-index: 1;
    text-align: center;
}

.blog1 a{
    text-decoration: none;
    
}

.blog1 a:hover{
    color: #D0FF00;
    text-decoration: none;
}

.portafolio1 {
    font-weight: bold;
    color: white;
    font-size: 30px;
    font-family: "Arimo", sans-serif; 
    text-align: center;
}

.sobreMi1 {
    font-weight: bold;
    color: white;
    font-size: 30px;
    font-family: "Arimo", sans-serif;
    text-align: center;
}

.contacto1 {
    font-weight: bold;
    color: white;
    font-size: 30px;
    font-family: "Arimo", sans-serif;
    text-align: center;
}

.tituloinicio {
    color: white;
    font-size: 50px;
    font-family: "Arimo", sans-serif;
    text-align: center;
}
/* INICIO */


/* BLOG */
.header-blog{
    background-color: #000000;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: start;
    width: 100%;
    padding: 0px 0px;
    margin-left: -12px;
}
.caja4{
    height: 2000px;
}

.cajakpop {
    height: 400px;
    justify-content: center;
    align-items: center;
}

.cajatitulo1 {
    height: 50px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cajatexto1 {
    height: 150px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cajaposters {
    height: 400px;
    justify-content: center;
    align-items: center;
}

.cajatitulo2 {
    height: 50px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cajatexto2 {
    height: 150px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cajabranding {
    height: 400px;
    justify-content: center;
    align-items: center;
}

.cajatitulo3 {
    height: 50px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cajatexto3 {
    height: 150px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cajaespo {
    height: 400px;
    justify-content: center;
    align-items: center;
}

.cajatitulo4 {
    height: 50px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cajatexto4 {
    height: 150px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cajadraw {
    height: 400px;
    justify-content: center;
    align-items: center;
}

.cajatitulo5 {
    height: 50px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cajatexto5 {
    height: 150px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.caja11 {
    height: 2000px;
}

.inicio-blog {
    color: white;
    font-size: 30px;
    font-family: "Arimo", sans-serif; 
    text-align: center;
    text-decoration: none;
}

.inicio-blog a:hover{
    color: #D0FF00;
}

.blogtitulo {
    color: white;
    font-size: 80px;
    font-family: "Arimo", sans-serif;
    text-align: center;
    padding-top: 100px;
}

.titulo1-blog {
    color: white;
    font-size: 20px;
    font-family: "Arimo", bold;
}

.titulo2-blog {
    color: white;
    font-size: 19px;
    font-family: "Arimo", bold;
}

.texto1-blog {
    color: white;
    font-size: 20px;
    font-family: "Arimo", sans-serif;
}

.texto2-blog {
    color: white;
    font-size: 20px;
    font-family: "Arimo", sans-serif;
}

.titulo3-blog {
    color: white;
    font-size: 19px;
    font-family: "Arimo", bold;
}

.texto3-blog {
    color: white;
    font-size: 20px;
    font-family: "Arimo", sans-serif;
}
.titulo4-blog {
    color: white;
    font-size: 19px;
    font-family: "Arimo", bold;
}

.texto4-blog {
    color: white;
    font-size: 20px;
    font-family: "Arimo", sans-serif;
}
.titulo5-blog {
    color: white;
    font-size: 19px;
    font-family: "Arimo", bold;
}

.texto5-blog {
    color: white;
    font-size: 20px;
    font-family: "Arimo", sans-serif;
}
/* BLOG */


/* PORTAFOLIO */
.caja12 {

    height: 850px;
}

.caja13 {

    height: 250px;
}

.caja14 {
    height: 200px;
    justify-content: center;
    align-items: center;
}

.caja15 {

    height: 200px;
}

.caja16 {
    height: 200px;
}

.caja17 {
    height: 850px;
}

.inicio1 {
    color: white;
    font-size: 30px;
    font-family: "Arimo", sans-serif; 
    text-align: center;
}

.sobreMi1 {
    color: white;
    font-size: 30px;
    font-family: "Arimo", sans-serif;
    text-align: center;
}

.contacto1 {
    color: white;
    font-size: 30px;
    font-family: "Arimo", sans-serif;
    text-align: center;
}

.portafoliotitulo {
    color: white;
    font-size: 80px;
    font-family: "Arimo", sans-serif;
    text-align: center;
    padding-top: 100px;
}

.branding1 {
    color: white;
    font-size: 40px;
    font-family: "Arimo", sans-serif;
    text-align: center;
}

.branding1 a{
    text-decoration: none;
    color: white;  
}

.branding1 a:hover{
    color: #D0FF00;
}

.edicion1 {
    color: white;
    font-size: 40px;
    font-family: "Arimo", sans-serif;
    text-align: center;
}

.edicion1 a{
    text-decoration: none;
    color: white;
}

.edicion1 a:hover{
    color: #D0FF00;
}

.ilustracion1 {
    color: white;
    font-size: 40px;
    font-family: "Arimo", sans-serif;
    text-align: center;
}

.ilustracion1 a{
   text-decoration: none;
   color: white; 
}

.ilustracion1 a:hover{
    color: #D0FF00;
}

/* PORTAFOLIO */


/* SOBRE MÍ */
.caja18 {
    height: 300px;
}

.caja19 {
    height: 500px;
    align-items: center;
    justify-content: center;
    display: flex;
}

.caja20 {
    height: 500px;
}

.sobremititulo {
    color: white;
    font-size: 80px;
    font-family: "Arimo", sans-serif;
    text-align: center;
    padding-top: 100px;
}

.inicio1 {
    color: white;
    font-size: 30px;
    font-family: "Arimo", sans-serif; 
    text-align: center;
}

.portafolio1 {
    color: white;
    font-size: 30px;
    font-family: "Arimo", sans-serif;
    text-align: center;
}

.contacto1 {
    color: white;
    font-size: 30px;
    font-family: "Arimo", sans-serif;
    text-align: center;
}

.texto-sobremi {
    color: white;
    font-size: 40px;
    font-family: "Arimo", sans-serif;
}

.fotomajo{
    height: 100%;
}
/* SOBRE MÍ */


/* CONTACTO */
.caja21 {

    height: 300px;
}

.caja22 {

    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.caja23 {

    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.caja24 {

    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.caja25 {

    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.caja26 {

    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.caja27 {

    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.caja28 {

    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.caja29 {

    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.caja30 {

    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contactotitulo {
    color: white;
    font-size: 80px;
    font-family: "Arimo", sans-serif;
    text-align: center;
    padding-top: 100px;
}

.inicio1 {
    color: white;
    font-size: 30px;
    font-family: "Arimo", sans-serif; 
    text-align: center;
}

.portafolio1 {
    color: white;
    font-size: 30px;
    font-family: "Arimo", sans-serif;
    text-align: center;
}

.sobreMi1 {
    color: white;
    font-size: 30px;
    font-family: "Arimo", sans-serif;
    text-align: center;
}

.correo1-contacto {
    color: white;
    font-size: 20px;
    font-family: "Arimo", sans-serif;
}

.instagram1-contacto {
    color: white;
    font-size: 20px;
    font-family: "Arimo", sans-serif;
}

.github1-contacto {
    color: white;
    font-size: 20px;
    font-family: "Arimo", sans-serif;
}

.correoimg {
    width: 356px;
}

.instaimg {
    width: 270px;
}

.githubimg {
    width: 260px;
}
/* CONTACTO */


/* BRANDING */
.caja31 {
    background-color: rgb(101, 197, 165);
    height: 300px;
}

.caja32 {
    background-color: rgb(162, 162, 250);
    height: 500px;
}

.caja33 {
    background-color: rgb(169, 224, 158);
    height: 500px;
}

.caja34 {
    background-color: rgb(250, 162, 216);
    height: 500px;
}

.inicio1 {
    color: white;
    font-size: 30px;
    font-family: "Arimo", sans-serif; 
    text-align: center;
}

.portafolio1 {
    color: white;
    font-size: 30px;
    font-family: "Arimo", sans-serif;
    text-align: center;
}

.contacto1 {
    color: white;
    font-size: 30px;
    font-family: "Arimo", sans-serif;
    text-align: center;
}

.brandingtitulo {
    color: white;
    font-size: 80px;
    font-family: "Arimo", sans-serif;
    text-align: center;
    padding-top: 100px;
}
/* BRANDING */


/* EDICIÓN */
.caja35 {
    height: 300px;
}

.caja36 {
    height: 500px;
}

.caja37 {
    background-color: rgb(169, 224, 158);
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.caja38 {
    background-color: rgb(169, 224, 158);
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.caja39 {
    height: 500px;
}

.inicio1 {
    color: white;
    font-size: 30px;
    font-family: "Arimo", sans-serif; 
    text-align: center;
}

.portafolio1 {
    color: white;
    font-size: 30px;
    font-family: "Arimo", sans-serif;
    text-align: center;
}

.contacto1 {
    color: white;
    font-size: 30px;
    font-family: "Arimo", sans-serif;
    text-align: center;
}

.ediciontitulo {
    color: white;
    font-size: 80px;
    font-family: "Arimo", sans-serif;
    text-align: center;
    padding-top: 100px;
}

.cervezaimg {
    width: 100%;
}

.randomimg {
    width: 100%;
}
/* EDICIÓN */


/* ILUSTRACIÓN */
.caja40 {
    background-color: rgb(101, 197, 165);
    height: 300px;
}

.caja41 {
    background-color: rgb(162, 162, 250);
    height: 500px;
}

.caja42 {
    background-color: rgb(169, 224, 158);
    height: 500px;
}

.caja43 {
    background-color: rgb(250, 162, 216);
    height: 500px;
}

.inicio1 {
    color: white;
    font-size: 30px;
    font-family: "Arimo", sans-serif; 
    text-align: center;
}

.portafolio1 {
    color: white;
    font-size: 30px;
    font-family: "Arimo", sans-serif;
    text-align: center;
}

.contacto1 {
    color: white;
    font-size: 30px;
    font-family: "Arimo", sans-serif;
    text-align: center;
}

.ilustraciontitulo {
    color: white;
    font-size: 80px;
    font-family: "Arimo", sans-serif;
    text-align: center;
    padding-top: 100px;
}
/* ILUSTRACIÓN */

/* hamburguesa */
.header{
    height: 100px;
    padding: 0 50px;
    color: white; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.menu{
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    padding: 0 10px;
    transition: 0.4s;
}
.mostrar-menu,
.esconder-menu{
    font-size: 30px;
    cursor: pointer;
    display: none;
    transition: 0.4s;
}
.menu a{
    padding: 10px;
    color: rgb(255, 255, 255);
    text-decoration: none;
}
.mostrar-menu{
    order: 1;
}
.menu a:hover,
.mostrar-menu,
.esconder-menu{
    color: #D0FF00;
}
#check{
    display: none;
}
@media(max-width: 768px){
    .mostrar-menu,
    .esconder-menu{
        display: block;
    }
    .menu{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #000000;
        right: -100%;
        top: 0%;
        text-align: center;
        padding: 100px 0;
        z-index: 100px;
        transition: 0.8s;
    }
    .menu a{
        display: block;
        padding: 20px;
    }
    .esconder-menu{
        position: absolute;
        top: 40px;
        right: 40px;
    }
    #check:checked ~ .menu{
        right: 0;
    }
}
/* FIN HAMBURUESA */

/* MEDIAQUERE */
    /* 4K */
    @media (min-width: 1440px) and (max-width: 2560px){
        .fotoindex{
            height: 100%;
        }
        .correoimg {
            width: 100%;
        }
        
        .instaimg {
            width: 100%;
        }
        
        .githubimg {
            width: 856px;
            height: 856px;
        }
    
        .caja25{
            margin-top: 50px;
        }
    
        .caja26{
            margin-top: 50px;
        }
    
        .caja27{
            margin-top: 50px;
        }
        .caja25{
        margin-top: 50px;
        }
        .caja26{
            margin-top: 50px;
        }
        .caja27{
            margin-top: 50px;
        }
        .caja2{
            width: 300px;
            height: 100px;
        }
        .blog1{
            font-size: 80px;
        }
        .portafolio1 {
            font-size: 50px;
        }
        .sobreMi1 {
            font-size: 50px;
        }
        .contacto1 {
            font-size: 50px;
        }
        .kpopimg {
            width: 50%;
        }
        .posterimg {
            width: 19%; 
            height: auto; 
            object-fit: cover;
            float: left;
        }
        .posterimg2 {
        width: 19%; 
        height: auto; 
        object-fit: cover;
        float: left;
        }
        .brandingimg {
            width: 45%;
        }
        .espoimg {
            width: 45%;
        }
        .drawimg {
            width: 45%;
        }
    }
    /* 4K */

    /* LAPTOP */
    @media (min-width: 1024px) and (max-width: 1440px){
        .fotoindex{
            height: 100%;
        }
        .caja22 {
            margin-bottom: 10px;
        }
        .caja2{
            width: 200px;
            height: 80px;
        }
        .blog1{
            font-size: 50px;
        }
        .portafolio1 {
            font-size: 30px;
        }
        .sobreMi1 {
            font-size: 30px;
        }
        .contacto1 {
            font-size: 30px;
        }
        .kpopimg {
            width: 100%;
        }
        .posterimg {
            width: 33%; 
            height: auto; 
            object-fit: cover;
            float: left;
        }
        .posterimg2 {
            width: 33%; 
            height: auto; 
            object-fit: cover;
            float: left;
        }
        .brandingimg {
            width: 80%;
        }
        .espoimg {
            width: 80%;
        }
        .drawimg {
            width: 80%;
        }
    }
    /* LAPTOP */

    /* LAPTOP 2 */
    @media (min-width: 1025px) and (max-width: 1199px) {
        .caja4{
            display: none;
        }
        .caja11{
            display: none;
        }
        .kpopimg{
            width: 60%
        }
        .posterimg {
            width: 20%; 
            height: auto; 
            object-fit: cover;
            float: left;
        }
        .posterimg2 {
            width: 20%; 
            height: auto; 
            object-fit: cover;
            float: left;
        }
        .brandingimg {
            width: 48%;
        }
        .espoimg {
            width: 48%;
        }
        .drawimg {
            width: 48%;
        }
    }
    /* LAPTOP 2 */

    /* LAPTOP 3 */
    @media (min-width: 768px) and (max-width: 1024px) {
        .caja4{
            display: none;
        }
        .caja11{
            display: none;
        }
        .kpopimg {
            width: 65%; 
            height: auto; 
            object-fit: cover;
        }
        .posterimg {
            width: 23%; 
            height: auto; 
            object-fit: cover;
            float: left;
        }
        .posterimg2 {
            width: 23%; 
            height: auto; 
            object-fit: cover;
            float: left;
        }
        .brandingimg {
            width: 55%;
        }
        .espoimg {
            width: 55%;
        }
        .drawimg {
            width: 55%;
        }
    }
    /* LAPTOP 3 */

    /* TABLET */
    @media (min-width: 425px) and (max-width: 768px){
        .fotoindex{
            height: 100%;
        }
        .caja4{
            display: none;
        }
        .caja11{
            display: none;
        }
        .caja12{
            display: none;
        }
        .caja17{
            display: none;
        }
        .portafoliotitulo{
            font-size: 50px;
        }
        .sobremititulo{
            font-size: 50px;
        }
        .contactotitulo{
            font-size: 50px;
        }
        .correo1-contacto{
            font-size: 40px;
        }
        .instagram1-contacto{
            font-size: 40px;
        }
        .github1-contacto{
            font-size: 40px;
        }
        .caja2{
            width: 100px;
            height: 50px;
        }
        .blog1{
            font-size: 30px;
        }
        .kpopimg{
            width: 200%;
        }
        .cajaposters{
            height: 380px;
        }
        .posterimg {
            width: 30%; 
            height: auto; 
            object-fit: cover;
            float: left;
        }
        .posterimg2 {
            width: 30%; 
            height: auto; 
            object-fit: cover;
            float: left;
        }
        .brandingimg {
            width: 73%;
        }
        .espoimg {
            width: 73%;
        }
        .drawimg {
            width: 73%;
        }
    }
    /* TABLET */


    /* MÓVIL */
    @media (min-width: 374px) and (max-width: 425px){
        .fotoindex{
            height: 100%;
        }
        .caja2{
            width: 50px;
            height: 20px;
        }
        .caja4{
            display: none;
        }
        .caja11{
            display: none;
        }
        .blog1{
            font-size: 15px;
        }
        .tituloinicio {
            font-size: 20px;
        }
        .titulo1-blog{
            font-size: 15px;
        }
        .texto1-blog {
            font-size: 15px;
        }
        .cajakpop{
            height: 250px;
        }
        .titulo2-blog{
            font-size: 15px;
        }
        .texto2-blog {
            font-size: 15px;
        }
        .kpopimg {
            width: 100%; 
            height: auto; 
            object-fit: cover;
        }
        .posterimg {
            width: 42%; 
            height: auto; 
            object-fit: cover;
            float: left;
        }
        .posterimg2 {
            width: 42%; 
            height: auto; 
            object-fit: cover;
            float: left;
        }
        .cajaposters{
            height: 300px;
        }
        .brandingimg {
            width: 90%;
        }
        .cajabranding{
            height: 270px;
        }
        .titulo3-blog {
            font-size: 15px;
        }
        .texto3-blog {
            font-size: 15px;
        }
        .espoimg {
            width: 90%;
        }
        .cajaespo{
            height: 270px;
        }
        .titulo4-blog {
            font-size: 15px;
        }
        .texto4-blog {
            font-size: 15px;
        }
        .drawimg {
            width: 90%;
        }
        .cajadraw{
            height: 270px;
        }
        .titulo5-blog {
            font-size: 15px;
        }
        .texto5-blog {
            font-size: 15px;
        }
    }
    /* MÓVIL */

    /* MÓVIL 2*/
    @media (min-width: 319px) and (max-width: 375px) {
        .caja4{
            display: none;
        }
        .caja11{
            display: none;
        }
        .cajakpop {
            height: 150px;
        }
        .kpopimg {
            width: 100%; 
            height: auto; 
            object-fit: cover;
        }
        .texto1-blog {
            font-size: 14px;
        }
        .cajaposters{
            height: 250px;
        }
        .posterimg {
            width: 42%; 
            height: auto; 
            object-fit: cover;
            float: left;
        }
        .posterimg2 {
            width: 42%; 
            height: auto; 
            object-fit: cover;
            float: left;
        }
        .texto2-blog {
            font-size: 14px;
        }
        .cajabranding{
            height: 240px;
        }
        .texto3-blog {
            font-size: 14px;
        }
        .cajaespo{
            height: 240px;
        }
        .texto4-blog {
            font-size: 14px;
        }
        .cajadraw{
            height: 240px;
        }
        .texto5-blog {
            font-size: 14px;
        }
    }
    /* MÓVIL 2*/

    /* MÓVIL 3*/
    @media(max-width: 320px) {
        .caja4{
            display: none;
        }
        .caja11{
            display: none;
        }
        .cajakpop {
            height: 180px;
        }
        .kpopimg {
            width: 100%; 
            height: auto; 
            object-fit: cover;
        }
        .texto1-blog {
            font-size: 13px;
        }
        .titulo1-blog {
            font-size: 15px;
        }
        .cajaposters{
            height: 205px;
        }
        .posterimg {
            width: 42%; 
            height: auto; 
            object-fit: cover;
            float: left;
        }
        .posterimg2 {
            width: 42%; 
            height: auto; 
            object-fit: cover;
            float: left;
        }
        .texto2-blog {
            font-size: 13px;
        }
        .titulo2-blog {
            font-size: 15px;
        }
        .brandingimg{
            width: 100%;
        }
        .cajabranding{
            height: 225px;
        }
        .texto3-blog {
            font-size: 13px;
        }
        .titulo3-blog {
            font-size: 15px;
        }
        .espoimg{
            width: 100%;
        }
        .cajaespo{
            height: 225px;
        }
        .texto4-blog {
            font-size: 13px;
        }
        .titulo4-blog {
            font-size: 15px;
        }
        .drawimg{
            width: 100%;
        }
        .cajadraw{
            height: 225px;
        }
        .texto5-blog {
            font-size: 13px;
        }
        .titulo5-blog {
            font-size: 15px;
        }
    }
    /* MÓVIL 3*/

    /* Contacto */
    @media(max-width:2804px){
        .caja25{
            margin-top: 50px;
        }
    
        .caja26{
            margin-top: 50px;
        }
    
        .caja27{
            margin-top: 50px;
        }
    }
    /* Contacto */

/* AYUDA IA */
    
    /* Estilo para caja5 en tabletas */
@media (min-width: 424px) and (max-width: 768px) {
    .caja5 {
        padding: 15px; /* Agrega un poco de espacio interno para mejorar el diseño en tabletas */
    }

    .kpopimg {
        width: 90%; 
        height: auto; 
        object-fit: cover;
    }
}

