body{
    background-color: black;
}

/* INICIO */

.caja1 {
    height: 100%;
    background-color: #000000;
    justify-content: end;
    align-items: center;
}
.caja1 img{
    width: 100%;
}

.caja2 {
    height: 50px;
    width: 200px;
    left: 0;
    z-index: 0;
}

.blog1 {
    font-weight: bold;
    color: white;
    font-size: 40px;
    font-family: "Arimo", sans-serif;
    position: relative;
    z-index: 1;
    text-align: center;
}

.blog1 a{
    text-decoration: none;
    
}

.blog1 a:hover{
    color: #D0FF00;
    text-decoration: none;
}

.portafolio1 {
    font-weight: bold;
    color: white;
    font-size: 30px;
    font-family: "Arimo", sans-serif; 
    text-align: center;
}

.sobreMi1 {
    font-weight: bold;
    color: white;
    font-size: 30px;
    font-family: "Arimo", sans-serif;
    text-align: center;
}

.contacto1 {
    font-weight: bold;
    color: white;
    font-size: 30px;
    font-family: "Arimo", sans-serif;
    text-align: center;
}

.tituloinicio {
    color: white;
    font-size: 50px;
    font-family: "Arimo", sans-serif;
    text-align: center;
}
/* INICIO */


/* BLOG */
.header-blog{
    background-color: #000000;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: start;
    width: 100%;
    padding: 0px 0px;
    margin-left: -12px;
    z-index: 4;
}
.caja4{
    height: 2000px;
}

.caja3 {
    justify-content: center;
    align-items: center;
    height: 250px;
    margin-bottom: 30px;
}

.caritaimg {
    width: 169.76px;
}

.starrosadaimg {
    width: 97px;
}

.ositosimg {
    width: 189px;
}

.starazulimg {
    width: 88.52px;
}

/* Imagenes del costado */
 .ositosimg2 {
    width: 189px;
}
 .caritaimg2 {
    width: 169.76px;
}
 .starazulimg2 {
    width: 88.52px;
}
 .staramarillaimg {
    width: 100px;
}
 .starazulimg3 {
    width: 88.52px;
}
 .starrosadaimg2 {
    width: 97px;
}
.ositosimg3 {
    width: 189px;
}
.starazulimg4 {
    width: 88.52px;
}
.caritaimg3 {
    width: 169.76px;
}
.staramarillaimg2 {
    width: 100px;
}
.ositosimg4 {
    width: 189px;
}
.starrosadaimg3 {
    width: 97px;
}
.caritaimg4 {
    width: 169.76px;
}
.ositosimg5 {
    width: 189px;
}
.starazulimg5 {
    width: 88.52px;
}
.staramarillaimg3 {
    width: 100px;
}
.staramarillaimg4 {
    width: 100px;
}
.starazulimg6 {
    width: 88.52px;
}
/* Imagenes del costado */

.cajakpop {
    height: 400px;
    justify-content: center;
    align-items: center;
}

.cajatitulo1 {
    height: 50px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cajatexto1 {
    height: 150px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cajaposters {
    height: 400px;
    justify-content: center;
    align-items: center;
}

.cajatitulo2 {
    height: 50px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cajatexto2 {
    height: 150px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cajabranding {
    height: 400px;
    justify-content: center;
    align-items: center;
}

.cajatitulo3 {
    height: 50px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cajatexto3 {
    height: 150px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cajaespo {
    height: 400px;
    justify-content: center;
    align-items: center;
}

.cajatitulo4 {
    height: 50px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cajatexto4 {
    height: 150px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cajadraw {
    height: 400px;
    justify-content: center;
    align-items: center;
}

.cajatitulo5 {
    height: 50px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cajatexto5 {
    height: 150px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.caja11 {
    height: 2000px;
}

.inicio-blog {
    color: white;
    font-size: 30px;
    font-family: "Arimo", sans-serif; 
    text-align: center;
    text-decoration: none;
}

.inicio-blog a:hover{
    color: #D0FF00;
}

.titulo1-blog {
    color: white;
    font-size: 20px;
    font-family: "Arimo", bold;
}

.titulo2-blog {
    color: white;
    font-size: 19px;
    font-family: "Arimo", bold;
}

.texto1-blog {
    color: white;
    font-size: 20px;
    font-family: "Arimo", sans-serif;
}

.texto2-blog {
    color: white;
    font-size: 20px;
    font-family: "Arimo", sans-serif;
}

.titulo3-blog {
    color: white;
    font-size: 19px;
    font-family: "Arimo", bold;
}

.texto3-blog {
    color: white;
    font-size: 20px;
    font-family: "Arimo", sans-serif;
}
.titulo4-blog {
    color: white;
    font-size: 19px;
    font-family: "Arimo", bold;
}

.texto4-blog {
    color: white;
    font-size: 20px;
    font-family: "Arimo", sans-serif;
}
.titulo5-blog {
    color: white;
    font-size: 19px;
    font-family: "Arimo", bold;
}

.texto5-blog {
    color: white;
    font-size: 20px;
    font-family: "Arimo", sans-serif;
}
/* BLOG */


/* PORTAFOLIO */
.caja12 {

    height: 850px;
}

.caja13 {
    justify-content: center;
    align-items: center;
    height: 250px;
    margin-bottom: 50px;
}

.caja14 {
    height: 150px;
    justify-content: center;
    align-items: center;
}

.caja15 {

    height: 150px;
}

.caja16 {
    height: 150px;
}

.caja17 {
    height: 850px;
}

.inicio1 {
    font-weight: bold;
    color: white;
    font-size: 30px;
    font-family: "Arimo", sans-serif; 
    text-align: center;
}

.sobreMi1 {
    color: white;
    font-size: 30px;
    font-family: "Arimo", sans-serif;
    text-align: center;
}

.contacto1 {
    color: white;
    font-size: 30px;
    font-family: "Arimo", sans-serif;
    text-align: center;
}

.branding1 {
    color: white;
    font-size: 40px;
    font-family: "Arimo", sans-serif;
    text-align: center;
}

.branding1 a{
    text-decoration: none;
    color: white;  
}

.branding1 a:hover{
    color: #D0FF00;
}

.edicion1 {
    color: white;
    font-size: 40px;
    font-family: "Arimo", sans-serif;
    text-align: center;
}

.edicion1 a{
    text-decoration: none;
    color: white;
}

.edicion1 a:hover{
    color: #D0FF00;
}

.ilustracion1 {
    color: white;
    font-size: 40px;
    font-family: "Arimo", sans-serif;
    text-align: center;
}

.ilustracion1 a{
   text-decoration: none;
   color: white; 
}

.ilustracion1 a:hover{
    color: #D0FF00;
}
/* Imagenes al costado portafolio */
.ositosimg6 {
    width: 189px;
}
.megafonoimg {
    width: 350.24px;
}
.starazulimg7 {
    width: 88.52px;
}
.trebolparadoimg {
    width: 180px;
}
.starrosadaimg4 {
    width: 97px;
}
.dedoimg {
    width: 362.92px;
}
.staramarillaimg5 {
    width: 100px;
}
.pezimg {
    width: 242px;
}
/* Imagenes al costado portafolio */
/* PORTAFOLIO */


/* SOBRE MÍ */
.caja18 {
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    height: 600px;
}

.caja19 {
    height: 500px;
    align-items: center;
    justify-content: center;
    display: flex;
}

.caja20 {
    justify-content: center;
    align-items: center;
    height: 500px;
}

.inicio1 {
    color: white;
    font-size: 30px;
    font-family: "Arimo", sans-serif; 
    text-align: center;
}

.portafolio1 {
    color: white;
    font-size: 30px;
    font-family: "Arimo", sans-serif;
    text-align: center;
}

.contacto1 {
    color: white;
    font-size: 30px;
    font-family: "Arimo", sans-serif;
    text-align: center;
}

.texto-sobremi {
    color: white;
    font-size: 40px;
    font-family: "Arimo", sans-serif;
}

.fotomajo{
    height: 100%;
}
/* SOBRE MÍ */


/* CONTACTO */
.caja21 {

    height: 300px;
}

.caja22 {

    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.caja23 {

    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.caja24 {

    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.caja25 {

    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.caja26 {

    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.caja27 {

    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.caja28 {

    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.caja29 {

    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.caja30 {

    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contactotitulo {
    color: white;
    font-size: 80px;
    font-family: "Arimo", sans-serif;
    text-align: center;
    padding-top: 100px;
}

.inicio1 {
    color: white;
    font-size: 30px;
    font-family: "Arimo", sans-serif; 
    text-align: center;
}

.portafolio1 {
    color: white;
    font-size: 30px;
    font-family: "Arimo", sans-serif;
    text-align: center;
}

.sobreMi1 {
    color: white;
    font-size: 30px;
    font-family: "Arimo", sans-serif;
    text-align: center;
}

.correo1-contacto {
    color: white;
    font-size: 20px;
    font-family: "Arimo", sans-serif;
}

.instagram1-contacto {
    color: white;
    font-size: 20px;
    font-family: "Arimo", sans-serif;
}

.github1-contacto {
    color: white;
    font-size: 20px;
    font-family: "Arimo", sans-serif;
}

.correoimg {
    width: 356px;
}

.instaimg {
    width: 270px;
}

.githubimg {
    width: 260px;
}
/* CONTACTO */


/* BRANDING */
.header-branding{
    background-color: #000000;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: start;
    width: 100%;
    padding: 0px 0px;
    margin-left: -12px;
}
.caja31 {
    background-color: rgb(101, 197, 165);
    height: 300px;
}

.caja32 {
    justify-content: center;
    align-items: center;
    height: auto;
}

.caja33 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
}

.caja34 {
    justify-content: center;
    align-items: center;
    height: auto;
}

.inicio1 {
    color: white;
    font-size: 30px;
    font-family: "Arimo", sans-serif; 
    text-align: center;
}

.portafolio1 {
    color: white;
    font-size: 30px;
    font-family: "Arimo", sans-serif;
    text-align: center;
}

.contacto1 {
    color: white;
    font-size: 30px;
    font-family: "Arimo", sans-serif;
    text-align: center;
}

.brandingtitulo {
    color: white;
    font-size: 80px;
    font-family: "Arimo", sans-serif;
    text-align: center;
    padding-top: 100px;
}
.manualimg1{
    width: 100%;
}
.manualimg2{
    width: 40%;
}
.manualimg3{
    width: 100%;
}
/* BRANDING */


/* EDICIÓN */
.caja35 {
    height: 300px;
}

.caja36 {
    height: 500px;
}

.caja37 {
    background-color: rgb(169, 224, 158);
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.caja38 {
    background-color: rgb(169, 224, 158);
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.caja39 {
    height: 500px;
}

.inicio1 {
    color: white;
    font-size: 30px;
    font-family: "Arimo", sans-serif; 
    text-align: center;
}

.portafolio1 {
    color: white;
    font-size: 30px;
    font-family: "Arimo", sans-serif;
    text-align: center;
}

.contacto1 {
    color: white;
    font-size: 30px;
    font-family: "Arimo", sans-serif;
    text-align: center;
}

.ediciontitulo {
    color: white;
    font-size: 80px;
    font-family: "Arimo", sans-serif;
    text-align: center;
    padding-top: 100px;
}

.cervezaimg {
    width: 100%;
}

.randomimg {
    width: 100%;
}
/* EDICIÓN */


/* ILUSTRACIÓN */
.caja40 {
    background-color: rgb(101, 197, 165);
    height: 300px;
}

.caja41 {
    background-color: rgb(162, 162, 250);
    height: 500px;
}

.caja42 {
    background-color: rgb(169, 224, 158);
    height: 500px;
}

.caja43 {
    background-color: rgb(250, 162, 216);
    height: 500px;
}
.caja44 {
    background-color: rgb(175, 4, 110);
    height: 500px;
}
.caja45 {
    background-color: rgb(177, 96, 146);
    height: 500px;
}
.caja46 {
    background-color: rgb(102, 33, 76);
    height: 500px;
}
.caja47 {
    background-color: rgb(250, 162, 216);
    height: 500px;
}

.inicio1 {
    color: white;
    font-size: 30px;
    font-family: "Arimo", sans-serif; 
    text-align: center;
}

.portafolio1 {
    color: white;
    font-size: 30px;
    font-family: "Arimo", sans-serif;
    text-align: center;
}

.contacto1 {
    color: white;
    font-size: 30px;
    font-family: "Arimo", sans-serif;
    text-align: center;
}

.ilustraciontitulo {
    color: white;
    font-size: 80px;
    font-family: "Arimo", sans-serif;
    text-align: center;
    padding-top: 100px;
}

/* ILUSTRACIÓN */

/* hamburguesa */
.header{
    height: 100px;
    padding: 0 50px;
    color: white; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.menu{
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    padding: 0 10px;
    transition: 0.4s;
}
.mostrar-menu,
.esconder-menu{
    font-size: 30px;
    cursor: pointer;
    display: none;
    transition: 0.4s;
}
.menu a{
    padding: 10px;
    color: rgb(255, 255, 255);
    text-decoration: none;
}
.mostrar-menu{
    order: 1;
}
.menu a:hover,
.mostrar-menu,
.esconder-menu{
    color: #D0FF00;
}
#check{
    display: none;
}
@media(max-width: 768px){
    .mostrar-menu,
    .esconder-menu{
        display: block;
    }
    .menu{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #000000;
        right: -100%;
        top: 0%;
        text-align: center;
        padding: 100px 0;
        z-index: 100px;
        transition: 0.8s;
    }
    .menu a{
        display: block;
        padding: 20px;
    }
    .esconder-menu{
        position: absolute;
        top: 40px;
        right: 40px;
    }
    #check:checked ~ .menu{
        right: 0;
    }
}
/* FIN HAMBURUESA */

/* MEDIAQUERE */
    /* 4K */
    @media (min-width: 1440px) and (max-width: 2560px){
        .fotoindex{
            height: 100%;
        }
        .correoimg {
            width: 100%;
        }
        
        .instaimg {
            width: 100%;
        }
        
        .githubimg {
            width: 856px;
            height: 856px;
        }
    
        .caja25{
            margin-top: 50px;
        }
    
        .caja26{
            margin-top: 50px;
        }
    
        .caja27{
            margin-top: 50px;
        }
        .caja25{
        margin-top: 50px;
        }
        .caja26{
            margin-top: 50px;
        }
        .caja27{
            margin-top: 50px;
        }
        .caja2{
            width: 300px;
            height: 100px;
        }
        .blog1{
            font-size: 80px;
        }
        .inicio1 {
            font-size: 50px;
        }
        .portafolio1 {
            font-size: 50px;
        }
        .sobreMi1 {
            font-size: 50px;
        }
        .contacto1 {
            font-size: 50px;
        }
        .blogimg{
            width: 20%;
            margin-top: 60px;
        }
        .caritaimg {
            position: absolute;
            top: 39.77px;
            left: 750.72px;
        }
        .starrosadaimg {
            position: absolute;
            top: 200px;
            left: 500px;
        }
        .ositosimg {
            position: absolute;
            top: 50px;
            left: 1600.6px;
        }
        .starazulimg {
            position: absolute;
            top: 200.33px;
            left: 1800px;
        }
        /* Imagenes del costado */
        .ositosimg2 {
            position: absolute;
            top: 500px;
            left: 500.6px;
            width: 189px;
        }
        .caritaimg2 {
            position: absolute;
            top: 900px;
            left: 500.09px;
            width: 169.76px;
        }
        .starazulimg2 {
            position: absolute;
            top: 1200.33px;
            left: 600px;
            width: 88.52px;
        }
        .staramarillaimg {
            position: absolute;
            top: 1300px;
            left: 400px;
            width: 100px;
        }
        .starazulimg3 {
            position: absolute;
            top: 1700.33px;
            left: 500px;
            width: 88.52px;
        }
        .starrosadaimg2 {
            position: absolute;
            top: 2100px;
            left: 400px;
            width: 97px;
        }
        .ositosimg3 {
            position: absolute;
            top: 2300px;
            left: 500.6px;
            width: 189px;
        }
        .starazulimg4 {
            position: absolute;
            top: 2800.33px;
            left: 600px;
            width: 88.52px;
        }
        .caritaimg3 {
            position: absolute;
            top: 3000px;
            left: 500.09px;
            width: 169.76px;
        }
        .staramarillaimg2 {
            position: absolute;
            top: 500px;
            left: 1900px;
            width: 100px;
        }
        .ositosimg4 {
            position: absolute;
            top: 800px;
            left: 2000px;
            width: 189px;
        }
        .starrosadaimg3 {
            position: absolute;
            top: 1150px;
            left: 1900px;
            width: 97px;
        }
        .caritaimg4 {
            position: absolute;
            top: 1500px;
            left: 2000.09px;
            width: 169.76px;
        }
        .ositosimg5 {
            position: absolute;
            top: 1800px;
            left: 1900px;
            width: 189px;
        }
        .starazulimg5 {
            position: absolute;
            top: 2100px;
            left: 1900px;
            width: 88.52px;
        }
        .staramarillaimg3 {
            position: absolute;
            top: 2400px;
            left: 1800px;
            width: 100px;
        }
        .staramarillaimg4 {
            position: absolute;
            top: 2700px;
            left: 1700px;
            width: 100px;
        }
        .starazulimg6 {
            position: absolute;
            top: 3000px;
            left: 1850px;
            width: 88.52px;
        }
        /* Imagenes del costado */
        .kpopimg {
            width: 50%;
        }
        .posterimg {
            width: 19%; 
            height: auto; 
            object-fit: cover;
            float: left;
        }
        .posterimg2 {
        width: 19%; 
        height: auto; 
        object-fit: cover;
        float: left;
        }
        .brandingimg {
            width: 45%;
        }
        .espoimg {
            width: 45%;
        }
        .drawimg {
            width: 45%;
        }
        .portafolioimg{
            width: 70%;
            margin-top: 20px;
        }
        .sobremiimg{
            width: 90%;
        }
        .caja32 {
            height: 1900px;
        }
        .caja33 {
            height: 1900px;
        }
        .caja34 {
            height: 1900px;
        }
        .dibujoimg1{
            width: 100%;
        }
        .dibujoimg2{
            width: 100%;
        }
        .dibujoimg3{
            width: 100%;
        }
        .dibujoimg4{
            width: 100%;
        }
        .dibujoimg5{
            width: 100%;
        }
        .caja42 {  
            height: auto;
        }   
        .caja43 {
            height: auto;
        }
        .caja44 {
            height: auto;
        }
        .caja45 {
            height: auto;
        }
        .caja46 {
            height: auto;
        }
        /* Imagenes al costado portafolio */
        .ositosimg6 {
            position: absolute;
            top: 178px;
            left: 150.6px;
            width: 189px;
        }
        .megafonoimg {
            position: absolute;
            top: 410.2px;
            left: 5px;
            width: 350.24px;
        }
        .starazulimg7 {
            position: absolute;
            top: 726.33px;
            left: 550px;
            width: 88.52px;
        }
        .trebolparadoimg {
            position: absolute;
            top: 774px;
            left: 250px;
            width: 180px;
        }
        .starrosadaimg4 {
            position: absolute;
            top: 951px;
            left: 1150px;
            width: 97px;
        }
        .dedoimg {
            position: absolute;
            top: 677.87px;
            left: 1624.07px;
            width: 362.92px;
        }
        .staramarillaimg5 {
            position: absolute;
            top: 451px;
            left: 1371px;
            width: 100px;
        }
        .pezimg {
            position: absolute;
            top: 774px;
            left: 1612px;
            width: 242px;
        }
        /* Imagenes al costado portafolio */
    }
    /* 4K */

    /* LAPTOP */
    @media (min-width: 1024px) and (max-width: 1440px){
        .fotoindex{
            height: 100%;
        }
        .inicio1{
            font-size: 30px;
        }
        .caja22 {
            margin-bottom: 10px;
        }
        .caja2{
            width: 200px;
            height: 80px;
        }
        .blogimg{
            width: 40%;
            margin-top: 60px;
        }
        .blog1{
            font-size: 50px;
        }
        .portafolio1 {
            font-size: 30px;
        }
        .sobreMi1 {
            font-size: 30px;
        }
        .contacto1 {
            font-size: 30px;
        }
        .caritaimg {
            position: absolute;
            top: 39.77px;
            left: 200.72px;
        }
        .starrosadaimg {
            position: absolute;
            top: 200px;
            left: 100px;
        }
        .ositosimg {
            position: absolute;
            top: 50px;
            left: 1100.6px;
        }
        .starazulimg {
            position: absolute;
            top: 200.33px;
            left: 1200px;
        }
        /* Imagenes del costado */
        .ositosimg2 {
            position: absolute;
            top: 500px;
            left: 100.6px;
            width: 189px;
        }
        .caritaimg2 {
            position: absolute;
            top: 900px;
            left: 180.09px;
            width: 169.76px;
        }
        .starazulimg2 {
            position: absolute;
            top: 1200.33px;
            left: 90px;
            width: 88.52px;
        }
        .staramarillaimg {
            position: absolute;
            top: 1400px;
            left: 200px;
            width: 100px;
        }
        .starazulimg3 {
            position: absolute;
            top: 1700.33px;
            left: 150px;
            width: 88.52px;
        }
        .starrosadaimg2 {
            position: absolute;
            top: 2100px;
            left: 150px;
            width: 97px;
        }
        .ositosimg3 {
            position: absolute;
            top: 2300px;
            left: 200.6px;
            width: 189px;
        }
        .starazulimg4 {
            position: absolute;
            top: 2800.33px;
            left: 100px;
            width: 88.52px;
        }
        .caritaimg3 {
            position: absolute;
            top: 3000px;
            left: 200.09px;
            width: 169.76px;
        }
        .staramarillaimg2 {
            position: absolute;
            top: 500px;
            left: 1100px;
            width: 100px;
        }
        .ositosimg4 {
            position: absolute;
            top: 900px;
            left: 1100px;
            width: 189px;
        }
        .starrosadaimg3 {
            position: absolute;
            top: 1150px;
            left: 1300px;
            width: 97px;
        }
        .caritaimg4 {
            position: absolute;
            top: 1500px;
            left: 1000.09px;
            width: 169.76px;
        }
        .ositosimg5 {
            position: absolute;
            top: 1800px;
            left: 1250px;
            width: 189px;
        }
        .starazulimg5 {
            position: absolute;
            top: 2100px;
            left: 1100px;
            width: 88.52px;
        }
        .staramarillaimg3 {
            position: absolute;
            top: 2400px;
            left: 1250px;
            width: 100px;
        }
        .staramarillaimg4 {
            position: absolute;
            top: 2700px;
            left: 1100px;
            width: 100px;
        }
        .starazulimg6 {
            position: absolute;
            top: 3000px;
            left: 1250px;
            width: 88.52px;
        }
        /* Imagenes del costado */
        .kpopimg {
            width: 100%;
        }
        .posterimg {
            width: 33%; 
            height: auto; 
            object-fit: cover;
            float: left;
        }
        .posterimg2 {
            width: 33%; 
            height: auto; 
            object-fit: cover;
            float: left;
        }
        .brandingimg {
            width: 80%;
        }
        .espoimg {
            width: 80%;
        }
        .drawimg {
            width: 80%;
        }
        .portafolioimg{
            width: 80%;
        }
        .caja32{
            height: auto;
        }
        .dibujoimg1{
            width: 100%;
        }
        .dibujoimg2{
            width: 100%;
        }
        .dibujoimg3{
            width: 100%;
        }
        .dibujoimg4{
            width: 100%;
        }
        .dibujoimg5{
            width: 100%;
        }
        .caja42 {  
            height: auto;
        }   
        .caja43 {
            height: auto;
        }
        .caja44 {
            height: auto;
        }
        .caja45 {
            height: auto;
        }
        .caja46 {
            height: auto;
        }
    }
    /* LAPTOP */

    /* LAPTOP 2 */
    @media (min-width: 1025px) and (max-width: 1199px) {
        .caja4{
            display: none;
        }
        .caja11{
            display: none;
        }
        .caja12{
            display: none;
        }
        .caja17{
            display: none;
        }
        .kpopimg{
            width: 60%
        }
        .posterimg {
            width: 20%; 
            height: auto; 
            object-fit: cover;
            float: left;
        }
        .posterimg2 {
            width: 20%; 
            height: auto; 
            object-fit: cover;
            float: left;
        }
        .brandingimg {
            width: 48%;
        }
        .espoimg {
            width: 48%;
        }
        .drawimg {
            width: 48%;
        }
        .portafolioimg{
            width: 80%;
        }
        .dibujoimg1{
            width: 100%;
        }
        .dibujoimg2{
            width: 100%;
        }
        .dibujoimg3{
            width: 100%;
        }
        .dibujoimg4{
            width: 100%;
        }
        .dibujoimg5{
            width: 100%;
        }
        .caja42 {  
            height: auto;
        }   
        .caja43 {
            height: auto;
        }
        .caja44 {
            height: auto;
        }
        .caja45 {
            height: auto;
        }
        .caja46 {
            height: auto;
        }
    }
    /* LAPTOP 2 */

    /* LAPTOP 3 */
    @media (min-width: 768px) and (max-width: 1024px) {
        .blogimg{
            width: 60%;
            margin-top: 60px;
        }
        .caja4{
            display: none;
        }
        .caja11{
            display: none;
        }
        .caja12{
            display: none;
        }
        .caja17{
            display: none;
        }
        .caritaimg {
            position: absolute;
            top: 39.77px;
            left: 50.72px;
        }
        .starrosadaimg {
            position: absolute;
            top: 200px;
            left: 20px;
        }
        .ositosimg {
            position: absolute;
            top: 50px;
            left: 800.6px;
        }
        .starazulimg {
            position: absolute;
            top: 200.33px;
            left: 900px;
        }
        .kpopimg {
            width: 65%; 
            height: auto; 
            object-fit: cover;
        }
        .posterimg {
            width: 23%; 
            height: auto; 
            object-fit: cover;
            float: left;
        }
        .posterimg2 {
            width: 23%; 
            height: auto; 
            object-fit: cover;
            float: left;
        }
        .brandingimg {
            width: 55%;
        }
        .espoimg {
            width: 55%;
        }
        .drawimg {
            width: 55%;
        }
        .caja13{
            height: 150px;
        }
        .portafolioimg{
            margin-top: 20px;
            width: 90%;
        }
        .dibujoimg1{
            width: 100%;
        }
        .dibujoimg2{
            width: 100%;
        }
        .dibujoimg3{
            width: 100%;
        }
        .dibujoimg4{
            width: 100%;
        }
        .dibujoimg5{
            width: 100%;
        }
        .caja42 {  
            height: auto;
        }   
        .caja43 {
            height: auto;
        }
        .caja44 {
            height: auto;
        }
        .caja45 {
            height: auto;
        }
        .caja46 {
            height: auto;
        }
    }
    /* LAPTOP 3 */

    /* TABLET */
    @media (min-width: 425px) and (max-width: 768px){
        .fotoindex{
            height: 100%;
        }
        .caja3{
            height: 250px;
        }
        .blogimg{
            width: 55%;
            margin-top: 60px;
        }
        .caja4{
            display: none;
        }
        .caja11{
            display: none;
        }
        .caja12{
            display: none;
        }
        .caja17{
            display: none;
        }
        .portafoliotitulo{
            font-size: 50px;
        }
        .contactotitulo{
            font-size: 50px;
        }
        .correo1-contacto{
            font-size: 40px;
        }
        .instagram1-contacto{
            font-size: 40px;
        }
        .github1-contacto{
            font-size: 40px;
        }
        .caja2{
            width: 100px;
            height: 50px;
        }
        .blog1{
            font-size: 30px;
        }
        .caritaimg {
            position: absolute;
            top: 39.77px;
            left: 30.72px;
        }
        .starrosadaimg {
            position: absolute;
            top: 200px;
            left: 20px;
        }
        .ositosimg {
            position: absolute;
            top: 50px;
            left: 580.6px;
        }
        .starazulimg {
            position: absolute;
            top: 200.33px;
            left: 650px;
        }
        .kpopimg{
            width: 200%;
        }
        .cajaposters{
            height: 380px;
        }
        .posterimg {
            width: 30%; 
            height: auto; 
            object-fit: cover;
            float: left;
        }
        .posterimg2 {
            width: 30%; 
            height: auto; 
            object-fit: cover;
            float: left;
        }
        .brandingimg {
            width: 73%;
        }
        .espoimg {
            width: 73%;
        }
        .drawimg {
            width: 73%;
        }
        .caja13{
            margin: 0;
        }
        .portafolioimg{
            width: 90%;
        }
        .dibujoimg1{
            width: 100%;
        }
        .dibujoimg2{
            width: 100%;
        }
        .dibujoimg3{
            width: 100%;
        }
        .dibujoimg4{
            width: 100%;
        }
        .dibujoimg5{
            width: 100%;
        }
        .caja42 {  
            height: auto;
        }   
        .caja43 {
            height: auto;
        }
        .caja44 {
            height: auto;
        }
        .caja45 {
            height: auto;
        }
        .caja46 {
            height: auto;
        }
        .caja41{
            display: none;
        }
        .caja47{
            display: none;
        }
    }
    /* TABLET */


    /* MÓVIL */
    @media (min-width: 374px) and (max-width: 425px){
        .fotoindex{
            height: 100%;
        }
        .caja2{
            width: 50px;
            height: 20px;
        }
        .caja3{
            height: 120px;
        }
        .blogimg{
            width: 55%;
            margin-top: 60px;
        }
        .caritaimg {
            width: 100.76px;
            position: absolute;
            top: 39.77px;
            left: 10.72px;
        }
        .starrosadaimg {
            width: 65px;
            position: absolute;
            top: 130px;
            left: 5px;
        }
        .ositosimg {
            width: 120px;
            position: absolute;
            top: 50px;
            left: 300.6px;
        }
        .starazulimg {
            width: 70.52px;
            position: absolute;
            top: 130.33px;
            left: 350px;
        }
        .caja4{
            display: none;
        }
        .caja11{
            display: none;
        }
        .blog1{
            font-size: 15px;
        }
        .tituloinicio {
            font-size: 20px;
        }
        .titulo1-blog{
            font-size: 15px;
        }
        .texto1-blog {
            font-size: 15px;
        }
        .cajakpop{
            height: 250px;
        }
        .titulo2-blog{
            font-size: 15px;
        }
        .texto2-blog {
            font-size: 15px;
        }
        .kpopimg {
            width: 100%; 
            height: auto; 
            object-fit: cover;
        }
        .posterimg {
            width: 42%; 
            height: auto; 
            object-fit: cover;
            float: left;
        }
        .posterimg2 {
            width: 42%; 
            height: auto; 
            object-fit: cover;
            float: left;
        }
        .cajaposters{
            height: 300px;
        }
        .brandingimg {
            width: 90%;
        }
        .cajabranding{
            height: 270px;
        }
        .titulo3-blog {
            font-size: 15px;
        }
        .texto3-blog {
            font-size: 15px;
        }
        .espoimg {
            width: 90%;
        }
        .cajaespo{
            height: 270px;
        }
        .titulo4-blog {
            font-size: 15px;
        }
        .texto4-blog {
            font-size: 15px;
        }
        .drawimg {
            width: 90%;
        }
        .cajadraw{
            height: 270px;
        }
        .titulo5-blog {
            font-size: 15px;
        }
        .texto5-blog {
            font-size: 15px;
        }
        .caja13{
            height: 100px;
            margin: 0;
        }
        .portafolioimg{
            margin: 0;
        }
        .caja14{
            height: 100px;
        }
        .caja15{
            height: 100px;
        }
        .caja16{
            height: 100px;
        }
    }
    /* MÓVIL */

    /* MÓVIL 2*/
    @media (min-width: 319px) and (max-width: 375px) {
        .caja3{
            height: 150px;
        }
        .blogimg{
            width: 75%;
            margin-top: 60px;
        }
        .caritaimg {
            width: 80.76px;
            position: absolute;
            top: 39.77px;
            left: 1.72px;
        }
        .starrosadaimg {
            width: 45px;
            position: absolute;
            top: 130px;
            left: 5px;
        }
        .ositosimg {
            width: 80px;
            position: absolute;
            top: 50px;
            left: 300.6px;
        }
        .starazulimg {
            width: 50.52px;
            position: absolute;
            top: 130.33px;
            left: 330px;
        }
        .caja4{
            display: none;
        }
        .caja11{
            display: none;
        }
        .caja12{
            display: none;
        }
        .caja17{
            display: none;
        }
        .cajakpop {
            height: 200px;
        }
        .kpopimg {
            width: 100%; 
            height: auto; 
            object-fit: cover;
        }
        .texto1-blog {
            font-size: 14px;
        }
        .cajaposters{
            height: 250px;
        }
        .posterimg {
            width: 42%; 
            height: auto; 
            object-fit: cover;
            float: left;
        }
        .posterimg2 {
            width: 42%; 
            height: auto; 
            object-fit: cover;
            float: left;
        }
        .texto2-blog {
            font-size: 14px;
        }
        .cajabranding{
            height: 240px;
        }
        .texto3-blog {
            font-size: 14px;
        }
        .cajaespo{
            height: 240px;
        }
        .texto4-blog {
            font-size: 14px;
        }
        .cajadraw{
            height: 240px;
        }
        .texto5-blog {
            font-size: 14px;
        }
        .caja13{
            margin: 0;
            padding: 0;
        }
        .portafolioimg{
            width: 85%;
            margin: 0;
            padding: 0;
        }
        .caja41{
            display: none;
        }
        .caja47{
            display: none;
        }
    }
    /* MÓVIL 2*/

    /* MÓVIL 3*/
    @media(max-width: 320px) {
        .caja4{
            display: none;
        }
        .caja11{
            display: none;
        }
        .cajakpop {
            height: 180px;
        }
        .caritaimg {
            width: 70.76px;
            position: absolute;
            top: 39.77px;
            left: 1.72px;
        }
        .starrosadaimg {
            width: 45px;
            position: absolute;
            top: 130px;
            left: 5px;
        }
        .ositosimg {
            width: 70px;
            position: absolute;
            top: 50px;
            left: 250.6px;
        }
        .starazulimg {
            width: 50.52px;
            position: absolute;
            top: 130.33px;
            left: 270px;
        }
        .kpopimg {
            width: 100%; 
            height: auto; 
            object-fit: cover;
        }
        .texto1-blog {
            font-size: 13px;
        }
        .titulo1-blog {
            font-size: 15px;
        }
        .cajaposters{
            height: 205px;
        }
        .posterimg {
            width: 42%; 
            height: auto; 
            object-fit: cover;
            float: left;
        }
        .posterimg2 {
            width: 42%; 
            height: auto; 
            object-fit: cover;
            float: left;
        }
        .texto2-blog {
            font-size: 13px;
        }
        .titulo2-blog {
            font-size: 15px;
        }
        .brandingimg{
            width: 100%;
        }
        .cajabranding{
            height: 225px;
        }
        .texto3-blog {
            font-size: 13px;
        }
        .titulo3-blog {
            font-size: 15px;
        }
        .espoimg{
            width: 100%;
        }
        .cajaespo{
            height: 225px;
        }
        .texto4-blog {
            font-size: 13px;
        }
        .titulo4-blog {
            font-size: 15px;
        }
        .drawimg{
            width: 100%;
        }
        .cajadraw{
            height: 225px;
        }
        .texto5-blog {
            font-size: 13px;
        }
        .titulo5-blog {
            font-size: 15px;
        }
        .caja13{
            height: 100px;
            margin: 0;
            padding: 0;
        }
        .portafolioimg{
            width: 85%;
            margin: 0;
            padding: 0;
        }
        .caja14{
            height: 80px;
        }
        .caja15{
            height: 80px;
        }
        .caja16{
            height: 80px;
        }
        .branding1{
            font-size: 30px;
        }
        .edicion1{
            font-size: 30px;
        }
        .ilustracion1{
            font-size: 30px;
        }
    }
    /* MÓVIL 3*/

    /* Contacto */
    @media(max-width:2804px){
        .caja25{
            margin-top: 50px;
        }
    
        .caja26{
            margin-top: 50px;
        }
    
        .caja27{
            margin-top: 50px;
        }
    }
    /* Contacto */

/* AYUDA IA */
    
    /* Estilo para caja5 en tabletas */
@media (min-width: 424px) and (max-width: 768px) {
    .caja5 {
        padding: 15px; /* Agrega un poco de espacio interno para mejorar el diseño en tabletas */
    }

    .kpopimg {
        width: 90%; 
        height: auto; 
        object-fit: cover;
    }
}

